#dropdownlistdiv{
    color: white;
    float: right;
}

.jumbotron{
    padding: 15px;
    margin-bottom: 0;
    font-family: 'Arvo', serif;
    text-align: center;
    margin-bottom: 0;
}

.display-4{
    font-size: 70px;
}

h2{
    font-family: 'Cairo', sans-serif;
    text-align: center;
    font-size: 35px;
}

.container{
    font-family: 'Varela Round', sans-serif;
}

/* .navbar{
    font-family: 'Varela Round', sans-serif;
    background-color: #DE412C;
} */

.navbar-default {
    background-color:  #DE412C;
    border-color: white;

.navbar-light .navbar-nav .nav-link{
    float: right;
    color: white;
}

.navbar-brand {
    color: antiquewhite;
}

#navbarDropdownMenuLink {
    float: right;
}

.nflTeams {
    text-align: right;
    padding: 10px;
    float: right:
}

a{
    float: right;
}